# SERVER #

# Webserver host
SERVER_HOST="127.0.0.1"
# Webserver port
SERVER_PORT=8080
# URL prefix for all paths (ex. "/database" will start gdps server on yourhost.com/database/)
SERVER_BASE_PATH="/"

# domain/IP for a webserver, required for getAccountURL.php
SERVER_DOMAIN="mygdps.com"

MYSQL_HOST="localhost"
MYSQL_PORT=3306
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DATABASE="centercore"

# Log events/requests or not
LOG_EVENTS=1
LOG_REQUESTS=1


# DAILY CHESTS #

# Small chest
DC_SMALL_MIN_ORBS=200
DC_SMALL_MAX_ORBS=400

DC_SMALL_MIN_DIAMONDS=2
DC_SMALL_MAX_DIAMONDS=10

DC_SMALL_MIN_KEYS=1
DC_SMALL_MAX_KEYS=6

# Wait time in seconds
DC_SMALL_WAIT_TIME=3600

# Big chest
DC_BIG_MIN_ORBS=2000
DC_BIG_MAX_ORBS=4000

DC_BIG_MIN_DIAMONDS=20
DC_BIG_MAX_DIAMONDS=100

DC_BIG_MIN_KEYS=1
DC_BIG_MAX_KEYS=6

# Wait time in seconds
DC_BIG_WAIT_TIME=14400