# Webserver host
SERVER_HOST="localhost"
# Webserver port
SERVER_PORT=8080
# URL prefix for all paths (ex. "/database" will start gdps server on yourhost.com/database/)
SERVER_BASE_PATH="/"

# MySQL host
MYSQL_HOST="localhost"
# MySQL port
MYSQL_PORT=3306
# MySQL user
MYSQL_USER=""
# MySQL user's password
MYSQL_PASSWORD=""
# MySQL database name
MYSQL_DATABASE="centercore"